# CMake Output Builds per platform
./platform_builds/windows/*
./platform_builds/mac/*

# CMake Ignores
cmake_install.cmake
CMakeCache.txt
**/CMakeFiles

# Visual Studio ignores
*.vcxproj
*.vcxproj.filters
*.sln
.vs
Debug
Release
*.user
*.ncb
*.suo
*.sdf

# Mac ignores
.DS_Store
*.app